bac<h1>Welcome to your Kitter New Feed</h1>

You are:
Full Name: <h2><%= @user.full_name%></h2>
User Name: <h2><%= @user.user_name%></h2>

<h3> You are following: </h3>

<h2>
  <% @all_followings.each do |person| %>
    <%= person.user_name%> !!!!!
 <% end %>
</h2>


<h3>Their recent tweets:</h3>
<h2>
  <% @tweet.reverse.each do |tweet| %>
  <%= "#{User.find_by_id(tweet.user_id).user_name} said #{tweet.input} "%><%= time_since_tweet(tweet.created_at)%>
  <br>
  <%end%>
</h2>

<br>

<a href='/welcome_back'> Back to Home</a>

<a href='/logout'> Logout</a>

