<div class="container">
  <h1>Your fellow Cat's Page </h1>

  <%= @fail %>

  <h2><%= @user.full_name%> AKA <%= @user.user_name%> </h2>


  All of their excuses are:
  <% @user.tweets.each do |tweet|%>
  <img src="http://placekitten.com/80/80"><%= "#{tweet.input} at #{tweet.created_at}"%>
  <br>
  <%end%>
  <br>
  <br>


  Send them a longer message at:<h2><%= @user.email %></h2>

  <ul>
  <li><a href ='/newsfeed'> Your Kitty Newsfeed</a>
  <li><a href ='/welcome_back'> Your Kitty Home Page</a>
  <li><a href='/logout'> Logout </a>
  </ul>
</div>