<h1>Thanks for signing in LitterTwitterPitterKitter Home Page</h1>

<%= @fail %>

You are: <h4><%= @user.full_name%></h4>
User Name: <h4><%= @user.user_name%></h4>

Make a Tweet:
<form action="/tweet/new" method="post">
<input type="text" name="tweet">
<input type="submit"  value="tweet">
</form>
<br>

<%if @user.tweets.count>0 %>
  All your recent tweets are:
  <br>
  <% @user.tweets.each do |tweet|%>
  <%= "#{tweet.input} at #{tweet.created_at}"%>
  <br>
  <%end%>
<%end%>

<h4> All other users to follow are: </h4>
<% @all_users.delete(@user)%>
<% @all_users.each do |user| %>
  <%= user.user_name%> ---

<% end %>

<br>
Type in someone to follow (No Typos!):
<form action="/followers/new" method="post">
<input type="text" name="follower">
<input type="submit" value="follow">
</form>
<br>

<%if @all_followings != nil%>
  List of were-cats you are following:
  <% @all_followings.each do |person| %>
    <%= person.user_name%> !!!!!
 <% end %>
<%end%>

<br>
<br>

<%if @all_followers != nil%>
  List of were-scumba-para-humanoids who are following you:
  <% @all_followers.each do |person| %>
    <%= person%> ?????
  <% end %>
<%end%>

<br>

<a href = '/newsfeed'> Your Ckitty Nusfeed</a>
<br>


<br>
<a href='/logout'> Logout</a>


