<h1>Thanks for signing in Litter TwitterPitterKitter Home Page</h1>

You are:

Full Name: <h2><%= @user.full_name%></h2>
User Name: <h2><%= @user.user_name%></h2>
Email: <h2><%= @user.email %></h2>

<% @email_address = params[:email].downcase %>
<% @hash = Digest::MD5.hexdigest(@email_address) %>
<img width="80px" src="http://www.gravatar.com/avatar/#{@hash}">
<!-- Gravatar example: http://www.gravatar.com/avatar/e764280c3bebba57f2e13509e4f8bb6a.png-->

<%= @fail %>
<form action="/tweet/new" method="post">
<input type="text" name="tweet">
<input type="submit"  value="tweet">
</form>

All your tweets where:
<% @user.tweets.each do |tweet|%>
<img src="http://placekitten.com/80/80"><%= "#{tweet.input} at #{tweet.created_at}"%>
<br>
<%end%>


<h2> All other users are: </h2>

<% @all_users.each do |user| %>
  <img src="http://placekitten.com/81/81"><%= user.user_name%>
  <br>
<% end %>


Type in someone to follow (No Typos!):
<form action="/followers/new" method="post">
<input type="text" name="follower">
<input type="submit" value="follower">
</form>


<br>




<%if @all_followings != nil%>
  List of were-cats you are following
  <% @all_followings.each do |person| %>
    <%= person.user_name%> !!!!!
 <% end %>
<%end%>

<br>
<br>


<%if @all_followers != nil%>
  List of were-scumba-para-humanoids who are following you
  <% @all_followers.each do |person| %>
    <%= person%> ?????
  <% end %>
<%end%>

<br>

<a href = '/newsfeed'> Your Ckitty Nusfeed</a>
